<p id="notice"><%= notice %></p>

<p>
  <b>Salesrep:</b>
  <%= @recommendation.salesrep %>
</p>

<p>
  <b>Customer:</b>
  <%= @recommendation.customer %>
</p>

<p>
  <b>Saleagreed:</b>
  <%= @recommendation.saleagreed %>
</p>


<%= link_to 'Edit', edit_recommendation_path(@recommendation) %> |
<%= link_to 'Back', recommendations_path %>
